.header {
  background-color: $color-primary-dark;
  color: #fff;
  padding: 1rem;
  box-shadow: 0 3px 5px #777;
  margin-bottom: 3px;
  &__h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 6rem;
  }
}