#main {
  display: flex;
  height: calc(100vh - 8rem);
  & > * {
    flex: 1 1 0;
    overflow-y: scroll;
  }
}
.l-watch-container {
  & > * {
    padding: 0 1rem;
  }
  border-left: solid 2px #aaa;
  &__header {
    padding: 1rem;
    position: sticky;
    top: -3rem;
    background-color: #fffcaa;
    box-shadow: 0 4px 5px #aaa;
    &__input {
      border: solid 1px #ccc;
      border-radius: 3px;
    }
    &__h1 {
      color: #555;
      padding-bottom: 1rem;
      font-size: 1.6rem;
    }
    &__h2 {
      padding-bottom: 1rem;
    }
    &__error-msg {
      padding-left: 1rem;
      color: #f00;
    }
  }

}
.l-search-container {
  & > * {
    padding: 0 1rem;
  }
  &__header {
    padding: 1rem;
    position: sticky;
    top: -3rem;
    background-color: $color-secondary;
    box-shadow: 0 4px 5px #aaa;
    &__input {
      border: solid 1px #ccc;
      border-radius: 3px;
    }
    &__h1 {
      color: #555;
      font-size: 1.6rem;
      padding-bottom: 1rem;
    }
  }
  &__body {
    &__counter {
      padding: 1rem 0 0;
    }
  }
}